<div class="scrollable">
 <div class="scrollable-content section">

  <form role="form">
    <fieldset>
      <legend><i class="fa fa-plug fa-lg"></i> Beregne ladenivå</legend>

      <div class="row">
      <div class="col-xs-5">
        <div class="form-group has-success">
          <label>Ønsket distanse</label>
          <div class="input-group">
            <input type="number" step="any" min="0"
                 ng-model="distance"
                 ng-change="calculate()"
                 class="form-control"
                 placeholder="Distance"
                 aria-described-by="addon_dist">
            <span class="input-group-addon" id="addon_dist">km</span>
          </div>
        </div>

      </div>
      <div class="col-xs-7">
        <div class="form-group has-success">
          <label>Forventa Forbruk</label>
          <div class="input-group">
          <input type="number" step="any" min="0"
                 ng-model="consumption"
                 ng-change="calculate()"
                 class="form-control"
                 aria-described-by="addon_cons"
                 placeholder="Consumption">
          <span class="input-group-addon" id="addon_cons">{{unitPreference.getConsumptionUnit()}}</span>
          </div>
      </div>
      </div>
      </div>

    </fieldset>
  </form>

  <hr>

  <div>
    <h4><b>Ladenivå må minimum være:</b></h4>
    <h3>{{ estimated | number:1 }} %</h3>

      <div>
            <p>{{ required_kwh|number:1}} kWh trengs / {{carCapacity.getCapacity()}} kWh maks</p>
      </div>
  </div>


  <div>
    <div class="form-group">
      <label>Estimat av ladehastigheter</label>
      <ui-switch ng-model='cshow'></ui-switch>
    </div>
    <div ng-if="cshow">
      <table class="table table-striped">
        <thead><tr>
          <th>V / A</th>
          <th>Effekt</th>
          <th>E.ladehastighet</th>
          <th>E.ladetid</th>
        </tr></thead>
        <tbody><tr ng-repeat="chargeSpeed in chargeSpeeds">
          <td>{{ chargeSpeed.voltage }}V, {{ chargeSpeed.current }}A</td>
          <td>{{chargeSpeed.voltage * chargeSpeed.current / 1000|number:1}} kW</td>
          <td>{{calc_speed(chargeSpeed.voltage, chargeSpeed.current)|number:1}} km/h</td>
          <td>{{calc_duration(chargeSpeed.voltage, chargeSpeed.current)}}</td>
        </tr></tbody>
      </table>
    <p><i class="fa fa-question-circle fa-sm"></i> Ladehastighet: 2.3kW / 0.15kWh/km = 9.2km/h, Ladetid: 100km / 9.2km/h = 10.8h</p>
    </div>
  </div>

</div>
