<div class="scrollable">
 <div class="scrollable-content section">

  <form role="form">
    <fieldset>
      <legend><i class="fa fa-road fa-lg"></i> Beregne kjørelengde</legend>

      <div class="row">
        <div class="col-xs-6">
            <div class="form-group has-success has-feedback">
              <label>Ladenivå</label>
              <div class="input-group">
              <input type="number" min="0" max="100"
                     ng-model="soc"
                     ng-change="calculate()"
                     class="form-control"
                     placeholder="State of charge %">
              <span class="input-group-addon" id="addon_soc">%</span>
              </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>{{carCapacity.getCapacity()}} kWh batteri</p>
            <p>{{carCapacity.getCapacity()*soc/100 |number:1}} kWh tilgjengelig</p>
        </div>
    </div>

      <div class="row">
      <div class="col-xs-6">
        <div class="form-group has-success has-feedback">
          <label>Forventa Forbruk</label>
          <div class="input-group">
            <input type="number" step="any" min="0"
                   ng-model="consumption"
                   ng-change="calculate()"
                   class="form-control"
                   aria-described-by="addon_cons"
                   placeholder="Consumption">
            <span class="input-group-addon" id="addon_cons">{{unitPreference.getConsumptionUnit()}}</span>
          </div>
        </div>
      </div>
      </div>

    </fieldset>
  </form>

  <hr>

  <div>
    <h4><b>Beregnet kjørelengde:</b></h4>
    <h3>{{ estimated | number:1 }} km</h3>
  </div>

  </div>
</div>
