<div class="scrollable">
    <div class="scrollable-content section">


    <legend><i class="fa fa-car fa-lg"></i> Om siden</legend>

    <p>En hjelpende hånd for elbilister på langtur. Velg hva du ønsker å beregne i menyen.</p>

<!--
    <div>
        Søk: <input ng-model="query">

        Sorter etter:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="consumption">Consumption</option>
        </select>

        <li ng-repeat="car in carPresets| orderBy:orderProp | filter:query">
            <span>{{car.name}} - {{car.battery}} kWh</span>
        </li>
    </div>
-->
    </div>
</div>