<div class="scrollable">
    <div class="scrollable-content section">

    <legend><i class="fa fa-car fa-lg"></i> Om siden</legend>

    <p>En hjelpende hånd for elbilister på langtur. Velg batterikapasitet, deretter hva du ønsker å beregne i menyen. </p>

    <p>Det er ingen reserver i utregningene, så husk å legg inn passende margin!</p>

    <div>
    <form role="form">
        <fieldset>

        <legend><i class="fa fa-compass fa-lg"></i> Foretrukket enhet</legend>
        <div class="btn-group" role="group" ng-repeat="(key, val) in UnitPreference.getAllUnits()">
          <button type="button" class="btn btn-default" ng-class="{true: 'active'}[key == currentUnit]" ng-click="setUnit(key)">{{key}}</button>
        </div>

        <hr>

        <legend><i class="fa fa-sliders fa-lg"></i> Sett tilgjengelig batterikapasitet</legend>
        <div class="form-group has-success">
          <div class="input-group">
          <input type="number" step="any" min="0"
                 ng-model="currentCapacity"
                 class="form-control"
                 placeholder="Total capacity in kwh"
                 aria-described-by="addon_kwh">
          <span class="input-group-addon" id="addon_kwh">kWh</span>
          </div>
          </div>
        </fieldset>
    </form>
    </div>

    <div>
      <p>Tilsvarer energien i {{gasEquivalent|number:1}} liter <a href="https://gasnor.no/naturgass/typiske-data-energi/">bensin</a>
    </div>

    <hr>

    <h4>Kapasitet for utvalgte biler</h4>
    <ui-switch ng-model='showpresets'></ui-switch>
    <div ng-if="showpresets">
      <div>
        <p>Batterikapasitet tilgjegenlig er produsentens tall ved ny bil, og bør reduseres etterhvert som kapasiteten på batteriet i din bil reduseres. (Eksempelvis er Volkswagen's garanti på 2015 eGolf minst 70% kapasitet etter 8 år. 21.2 kWh * 70% = 14.8 kWh.)</p>
        <!-- Søk: <input ng-model="query"> -->
<!--
          <input type="string"
                 ng-model="query"
                 class="form-control"
                 placeholder="Søk">
-->

<!--
        <select ng-model="orderProp" class="form-control">
            <option value="name">Sorter etter navn</option>
            <option value="battery">Sorter etter kapasitet</option>
        </select>
-->
      </div>
      <div>
        <p>Informasjon om tilgjengelig kapasitet er funnet rundt omkring på nettet, verifiser at det stemmer med <a href="https://elbil.no/om-elbil/elbiler-idag/">din bil!</a></p>
        <table class="table table-striped">
          <thead><tr>
            <th>Navn</th>
            <th>Kapasitet</th>
            <th>&nbsp;</th>
          </tr></thead>
          <tbody><tr ng-repeat="car in carPresets | orderBy:orderProp | filter:query">
            <td>{{ car.name }}</td>
            <td>{{ car.battery }} kWh</td>
            <td>
              <button class="btn" ng-click="setCapacity(car.battery)">
              <span class="fa fa-bookmark"></span>&nbsp;&nbsp;Velg
              </button>
            </td>
          </tr></tbody>
        </table>
      </div>
    </div>

    </div>

    </div>
</div>